body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  margin: 50px;
}

/* .app-content {
  margin: 10px 200px 20px 20px;
  padding: 50px 0 20px 0;
} */

.nav {
  /* margin: 20px 200px 10px 200px; */
  margin: 50px 0px 20px 200px;
  width: 40%;
  height: 30%;
  /* border: 1px solid black; */
}

.nav ul {
  /* display: flex; */
  list-style: none;
  margin: 20px;
  padding: 0;
}

.nav ul a {
  color: black;
  text-decoration: none;
}

.nav ul li {
  margin: 20px;
  /* background-color: #42A5F5; */
  /* padding: 10px; */
  /* border-radius: 5px; */
}

.post-list {
  margin: 10px 200px 20px 20px;
  width: 50%;
  height: 100%;
  padding: 50px 0 20px 0;
  /* border: 1px solid black; */
}

.card {
  margin: 20px auto;
  height: 50%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(158,158,158,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(158,158,158,1);
  box-shadow: 2px 2px 5px 0px rgba(158,158,158,1);
}

.post-header {
  padding: 20px;
}

.post-timestamp {
  color: gray;
}

.post-body { font-size: 20px }
.post-counter { color: gray; font-size: 14px }

.post-content {
  padding: 0 20px 0 20px; 
}

.post-item {
  margin: 100px 200px 20px 20px;
  width: 50%;
  height: 100%;
}

.post-list a {
  color: black;
  text-decoration: none;
}

.post-buttons {
  display: flex;
  width: 100%;
}

.post-buttons .vote-button {
  margin-right: auto;
  padding: 0 10px 0 10px;
}

.post-buttons .comment-button {
  padding: 0 20px 0 20px;
}

.post-buttons ul {
  display: flex;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.post-buttons ul li {
  padding: 0 20px 0 20px;
}

.post-icon {
  width: 25px;
  height: 25px;
}

.post-detail {
  margin: 40px 100px;
}

.post-item:hover {
  cursor: pointer;
}

.comment-item {
  padding: 10px 40px 0 40px;
  margin: 0;
  border-top: 1px solid gray; 
}

.new-post {
  padding: 20px;
  margin: 50px 200px 20px 20px;
  width: 50%;
  height: 100%;
}

.new-post input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.new-comment {
}

.new-comment input[type=text], .selectCategory {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background: transparent;
}

.new-post input[type=text]:focus {
  border: 3px solid #42A5F5;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: #42A5F5;
}

.btn:hover {
  background-color: rgb(44, 142, 228);
}

.sortBtn {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background: #42A5F5;
}